/*
  This files contains :
  - Style guide
  - Fonts
*/
body {
  background-color: #000;
  font-family: '', sans-serif;
  /*color: #F1EFE0;*/
  color: #FFF;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 400;

  /*margin: 0;*/
}

h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: '', sans-serif;
  font-size: 6em;
  line-height: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: '', sans-serif;
  font-size: 4em;
  line-height: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: '', sans-serif;
  font-size: 1.7em;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: '', sans-serif;
  font-size: 1.4em;
  line-height: 1.6em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: '', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: '', sans-serif;
  font-size: 0.6em;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

p {
  margin-bottom: 20px;
  font-family: '', sans-serif;
  font-size: 1em;
  line-height: 2em;
}

a {
  color: #ff4242;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

li {
  margin-bottom: 10px;
  font-family: '', sans-serif;
  font-size: 1em;
  line-height: 1.6em;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 0px;
  font-weight: 700;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px none #e2e2e2;
  font-size: 28px;
  line-height: 35px;
  font-style: italic;
  text-align: center;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  margin-top: 5px;
  font-family: '', sans-serif;
  font-size: 0.7em;
  line-height: 1.6em;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }
}

/*Tablette*/

@media screen and (max-width: 767px) {
  h2 {
    font-size: 3em;
  }
}

/* telephone*/

@media screen and (max-width: 479px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.1em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    letter-spacing: 2px;
  }

  li {
    font-size: 0.9em;
  }
}

/*
https://developer.mozilla.org/fr/docs/Web/CSS/@font-face
*/
/*
@font-face {
  font-family: '';
  src: url('');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: '';
  src: url('');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: '';
  src: url('');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: '';
  src: url('');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
*/
