.menu-toggle {
  display: flex;
  position: fixed;
  width: 30px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-top: 7px;
  margin-left: 15px;
  cursor: pointer;
}

.menu-toggle-line {
  width: 30px;
  height: 1px;
  margin-top: 7px;
  margin-bottom: 0px;
  border: #0194c8;
  background-color: #0194c8;
}
