header {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gif img {
    max-height: 90vw;
  }
  .txt {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 256px;
    height: 256px;
    hr {
      width: 100%;
    }
  }
}

/*----------------*/
.presentation {
  display: flex;
  flex-flow: column;
  align-items: center;
  p {
    max-width: 95vw;
    margin: auto;
  }
}
